<!doctype html>
<html lang="en">
  <head>
    <title>Only | Code</title>
    <meta charset="utf-8" />

    <link rel="icon" href="https://i.hizliresim.com/Iywvu3.png?v=1603477631536" type="image/x-icon" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/resimadd.css">
    <script src="resimadd.js"></script>
<body>
  
  

  </head>
    <nav class="navbar navbar-expand-lg navbar-dark" ic=lor"maaaaaaav" style="background-color:	black; opacity: 0.7;">
      <a class="navbar-brand"  href="/">
        <img src="https://i.hizliresim.com/Iywvu3.png?v=1603477631536" style="border-radius:50%" width="30" height="30" alt="">
        Only Code
      </a>
      <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: #00ffd5;"href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-laptop-code"></i> Kodlar
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <a class="dropdown-item font-weight-bold" href="/normal" style="color: #00ffd5"><i class="fas fa-code"></i> JavaScript</a>
              <a class="dropdown-item font-weight-bold" href="/altin" style="color: blue"><i class="fas fa-code"></i> Javascript+</a>
              <a class="dropdown-item font-weight-bold" href="/elmas" style= "color: yellow"><i class="fas fa-code"></i> JavaScript++</a>
              <a class="dropdown-item font-weight-bold" href="/hazir" style="color: #00ff28"><i class="fas fa-code"></i> Altyapı</a>
              <a class="dropdown-item font-weight-bold" href="/sistemler" style="color: #ff0000"><i class="fas fa-code"></i> Abone Altyapı</a>

          </li>
            

            <!--BOTLİST-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: red;"href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fab fa-youtube"></i> YouTube</a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <a class="dropdown-item font-weight-bold" href="https://www.youtube.com/channel/UCrZyZridLfnHXPLImAKpItQ" style="color: red;"><i class="fab fa-youtube"></i> Kayex İnventive</a>
              <a class="dropdown-item font-weight-bold" href="https://www.youtube.com/channel/UCX_fURsyPj7I0A2PkyONPjw" style="color: red;"><i class="fab fa-youtube"></i> Giyuu İnventive</a>
          </li>
            
           <!--Uptime-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: yellow;"href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-upload"></i> Discord Sunucular</a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item font-weight-bold" href="https://discord.gg/qexvvHtWPg" style="color: yellow;"><i class="fas fa-thumbtack"></i> Kayex - Destek/Youtube</a>  
            <a class="dropdown-item font-weight-bold" href="https://discord.gg/7FCPJjhQtx" style="color: yellow;"><i class="fas fa-thumbtack"></i> Only - Code</a>
          </li>
            
                       <!--KOD İLGİLİ-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: blue;"href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fas fa-robot"></i> Botlar</a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item font-weight-bold" href="https://top.gg/bot/755448409648922696/invite" style="color: white"><i class="fas fa-robot"></i> Kayex Bot - (Discord Tarafından Onaylı)</a>
            <a class="dropdown-item font-weight-bold" href="https://discord.com/oauth2/authorize?client_id=778274989148340244&scope=bot&permissions=8" style="color: white"><i class="fas fa-robot"></i> Giyuu Bot - (Discord Tarafından Onaylı Değil)</a> 
          </li>
<!--BOTLİST-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: white;"href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-robot"></i> Botlist</a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <a class="dropdown-item font-weight-bold" href="/botadd" style="color: white;"><i class="fas fa-thumbtack"></i> Bot Ekle</a>
              <a class="dropdown-item font-weight-bold" href="/botlar" style="color: white;"><i class="fas fa-thumbtack"></i> Botlar</a>
          </li>
        
          


 

          

          
        </ul>
        {{#if user}}
        
          <div class="dropdown">
            <a class="btn btn-light nav-link text-uppercase " style="background-color:#fff;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.png"  alt="avatar" style="border-width: 0.1rem; border: solid ;border-radius: 50%; max-width: 100%; height: 1.7rem;border-color:black; ">  {{user.username}}  <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color:black;color:white;">
              
  
              <a class="dropdown-item" href="/paylas" style="color:white; background-color:black;"><i class="fas fa-file-code"></i> Kod Paylaş!</a>
             
              <div class="dropdown-divider" style="border-color:white; "></div>
              
              <a class="dropdown-item" href="/profil/{{user.id}}" style="color:white; background-color:black;"><i class="far fa-id-card"></i> Profiline Bak!</a>
              
              <div class="dropdown-divider"style="border-color:white;" ></div>
              <a class="dropdown-item"  href="/cikis" style="color:white; background-color:black;"><i class="fas fa-sign-out-alt"></i> Çıkış Yap!</a>
           
            </div>
          </div>

            
        {{else}}
        <a class="btn btn-outline-light" href="/giris"><i class="fas fa-sign-in-alt"></i> Giriş Yap</a>
        
        {{/if}}
      </div>
      
    </nav>
    {{{body}}}
    
    <div id="top">
    <a style="display:scroll;position:fixed;bottom:5px;right:5px;" href="#" title="Back to Top"><img src="https://cdn.glitch.com/14543598-7999-4748-b670-82fb99f538a3%2Fyc1.png?v=1602053893747" /></a>

    </div>
              

             

      

<script type="text/javascript">
function IE(e) {
     if (navigator.appName == "Microsoft Internet Explorer" && (event.button == "2" || event.button == "3")) {
          alert('UYARI BEYBI');
          return false;
     }
}
function NS(e) {
     if (document.layers || (document.getElementById && !document.all)) {
          if (e.which == "2" || e.which == "3") {
               alert('Sitemizde sağ tık engelleme vardır lütfen basma.');
               return false;
          }
     }
}
document.onmousedown=IE;document.onmouseup=NS;document.oncontextmenu=new Function("return false");
</script>    
  
  
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  </body>
</html>
